let mapleader=" "

set nu
set relativenumber
set clipboard+=unnamed
set ignorecase
set smartcase
set hlsearch
set visualbell
set noerrorbells
set ideajoin
set idearefactormode=keep

" インサートモードを抜けるときのIME Off設定
inoremap <ESC> <ESC>:action Tool_External Tools_imeoff<CR>
inoremap <C-[> <ESC>:action Tool_External Tools_imeoff<CR>

" インサートモードの私のキーバインド
inoremap <c-a> <c-o>^
inoremap <c-e> <c-o>$
inoremap <c-b> <left>
inoremap <c-f> <right>
inoremap <c-n> <down>
inoremap <c-p> <up>
inoremap <c-h> <bs>
inoremap <c-d> <del>
inoremap <c-k> <c-o>D<right>

" ノーマルモードの私のキーバインド
nnoremap <ESC> :noh<CR>
nnoremap J ^
nnoremap K $
nnoremap x "_x
vnoremap x "_x

" easymotion
set easymotion
nmap s <Plug>(easymotion-s2)

"surround
set surround

"multiple-cursors
set multiple-cursors
map <C-k> <A-n>

"NERDTree
set NERDTree
nmap <C-t> :NERDTree<CR>

" commentary
set commentary
